.container {
  padding:3rem;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: 3rem;
  gap:2rem;
  background-color: blueviolet;
  height: 100vh;
  
}

.button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: white;
  background-color: #3b82f6;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 2rem;
  font-weight: 2rem;
}

.button:hover {
  background-color: #2563eb;
  transform: scale(1.05);
}

.bottons{
  display: flex;
  gap: 2rem;
}